<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<nav class="navbar ">
  <div class="navbar__logo">

  </div>

  <div class="navbar__items">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLinkActive="active" routerLink="/about" href="">Sobre Nosotros </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active " routerLinkActive="active" routerLink="/product" href="">Productos</a>
      </li>

    </ul>
  </div>
  <div class="navbar__redes">

<li class="nav-item">
<a class="nav-link" href="https://www.facebook.com/TuPaginaDeFacebook" target="_blank"><i class="fab fa-facebook"></i></a>
</li>

<li class="nav-item">
<a class="nav-link" href="https://twitter.com/TuCuentaDeTwitter" target="_blank"><i class="fab fa-twitter"></i></a>
</li>

<li class="nav-item">
<a class="nav-link" href="https://www.instagram.com/TuCuentaDeInstagram" target="_blank"><i
class="fab fa-instagram"></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://api.whatsapp.com/send?phone=TUNUMERODETELEFONO" target="_blank"><i class="fab fa-whatsapp"></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="URL_DE_TU_SERVICIO_LINDELINK" target="_blank"><i class="fab fa-linde-link"></i></a>
</li>


  </div>

</nav>