*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 2.5vw;
    background-image: linear-gradient(100deg,#d8e1d8,#808081,#f7ecec ) ;

}
.navbar-nav{
    display: flex;
    gap: 2.5vw;
}
.collapse{
    display: flex;
    justify-content: space-between;
}
.container-fluid{
    display: flex ;
    width: 100%;
    justify-content: space-evenly;
}
.btn-outline-success{
    padding: 0.3vw 0.7vw;
    color: whitesmoke;
    transition: .3s;
}
.btn-outline-success :hover{
    scale: ();
}
.nav-item{
    list-style: none;
}
.nav-item a {
    font-size: 1.7vw;
    text-decoration: none;
    font-weight: 400;
    color: #050505;
    position: relative;
  transition: color 0.3s, transform 0.3s;
}
.nav-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4af03e;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .nav-item a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .nav-item  a:hover {
    color: #06060e;
  }
  .custom-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.custom-input {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f4f4f4;
    font-size: 16px;
    transition: background-color 0.3s, width 0.3s;
}

.custom-input:focus {
    width: 300px;
    background-color: #fff;
    outline: none;
}

.custom-btn {
    border: none;
    border-radius: 20px;
    background-color: #e8eff6;
    color: #fff;
    padding: 10px 20px;
    margin-left: -4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.custom-btn:hover {
    background-color: #0d0c0c;
    transform: scale(1.05);
}

.navbar__redes{
    display: flex;
    gap: 1.5vw;
    width: 25%;
}
