
<body>
  <main>
    <section class="quienes-somos">
      <h1>Quiénes Somos</h1>
      <p>Somos una empresa comprometida con el crecimiento de nuestra economia <br>
      wayuu , ayudando a mejorar y facilitar las ventas de nuestros productos , acompañando a 
    a nuestras artesanas y artesanos <br>
    de esta manera nos comprometemos con el crecimiento economico y calidad de vida </p>
    <p>En el corazón de nuestra empresa late una pasión por preservar la riqueza cultural y artística de nuestra región. Desde nuestros humildes comienzos en un pequeño taller familiar hasta convertirnos en un referente en el mundo de las artesanías, hemos dedicado cada paso de nuestro camino a celebrar la belleza única de las creaciones artesanales.

      Nuestra historia se teje con hilos de dedicación, compromiso y respeto por las manos hábiles de nuestros artesanos. Cada pieza que ofrecemos cuenta una historia; una narrativa que refleja siglos de tradición y la destreza de generaciones pasadas que han transmitido sus conocimientos de padres a hijos.
      
      Desde los vibrantes tejidos de nuestros textiles hasta la delicada cerámica que adorna nuestros estantes, nos esforzamos por seleccionar y compartir solo lo mejor de lo mejor. Nos comprometemos a trabajar directamente con comunidades artesanales, apoyando el desarrollo sostenible y garantizando un comercio justo para aquellos que dan vida a nuestras creaciones.
      
      Sin embargo, nuestra misión va más allá de simplemente ofrecer productos excepcionales. Nos dedicamos a construir puentes entre culturas, promoviendo el entendimiento y la apreciación de las diversas expresiones artísticas que enriquecen nuestro mundo. Cada obra que vendemos es un vehículo para la conexión humana, un recordatorio de que, a pesar de nuestras diferencias, todos compartimos un lenguaje universal: el arte.
      
      A medida que miramos hacia el futuro, nos comprometemos a seguir honrando nuestras raíces mientras exploramos nuevas formas de innovar y expandir nuestro alcance. Seguiremos siendo fieles a nuestra visión de ser más que una empresa de ventas; seremos un puente entre culturas, un guardián de tradiciones y un defensor del arte en todas sus formas.
      
      Únete a nosotros en este viaje mientras continuamos celebrando la belleza del mundo artesanal y cultivando conexiones que perdurarán por generaciones. Porque en cada pieza que vendemos, hay una historia que contar y un mundo de posibilidades por descubrir.
      
      
      
      
      </p>
    </section>
  </main>
  <h1>{{mensaje}}</h1>
  <app-form-prueba (mensajene)="recimensaje($event)"></app-form-prueba>
</body>


