<div class="general">
    <section class="banner">
    
    </section>
    <div class="banner-content">
        <h2>Descubre nuestras increíbles mochilas artesanales</h2>
        <p>Explora nuestra colección única de mochilas, cuidadosamente diseñadas y tejidas a mano por artesanos expertos.</p>
        <button class="productos">
            Ver colección
        </button>
    </div>
    <section class="destacados">
        <h2>Productos destacados</h2> 
        <div class="mosaico">
            <img src="../../../assets/img/Carmen-palmar-artesanias-colombia-2020-1.jpg" alt="Producto 1">
            <img src="../../../assets/img/Chinchorro-wayuu-sencillo.png" alt="Producto 2">
            <img src="../../../assets/img/Csencillo-G001.jpg" alt="Producto 3">
            <img src="../../../assets/img/sombrero-wayuu-artesanias-colombia.jpg" alt="Producto 3">
            <img src="../../../assets/img/Sombreros-Wayuu-1024x760.jpg" alt="Producto 3">
            <img src="../../../assets/img/historia-de-vida-3-gary-gonzalez-artesanias-colombia-2.jpg" alt="Producto 3">
            <img src="../../../assets/img/Pulsera-o-Manilla-Wayuu-GUARTA-Colombia-Espana-Italia-Estados-Unidos-Europa-Cali-Medellin-Bogota-Cartagena-Barranquilla-y-Pasto.webp" alt="Producto 3">
            <img src="../../../assets/img/Manillas-originales-wayuu.jpg" alt="Producto 3">
            <img src="../../../assets/img/sombrero-wayuu-artesanias-colombia.jpg" alt="Producto 3">
            <img src="../../../assets/img/31968_31968_usando-herramientas-google-artesanias-colobmia-2019-g.jpg" alt="Producto 3">
            <img src="../../../assets/img/Csencillo-G001 (1).jpg" alt="Producto 3">
            <img src="../../../assets/img/images (8).jpg" alt="Producto 3">
        </div>

        <app-form-prueba></app-form-prueba>
    </section>

    
    
</div>